<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">
            Notifications
          </ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manager App</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2 class="message_h2">{{ message }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
  