<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Teacher Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content full-screen>
  <div class="container">
    <ion-searchbar
      [(ngModel)]="searchText"
      showCancelButton="never"
      (keyup)="search_student($event)"
      (ionClear)="ionClear()"
      placeholder="Search Teachers"
    ></ion-searchbar>

    <div class="wrapper" *ngIf="teachrAvailabe">
      <ion-card *ngFor="let teacher of teacherDetails; let i =index;">
        <div class="serial_number" (click)="goToStudentList(teacher.userid)">
          <h2>{{i+1}}</h2>
        </div>
        <div class="heading" (click)="goToStudentList(teacher.userid)">
          <h1>{{teacher.username}}</h1>
        </div>
        <div class="info" (click)="goToTeacherInfo(teacher)">
          <ion-icon name="information-circle"></ion-icon>
        </div>
      </ion-card>
    </div>
    <div class="notAvailabe" *ngIf="!teachrAvailabe">
      <p>No Teacher Registred ....</p>
    </div>
  </div>
</ion-content>
