ion-header {
  ion-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    --background: var(--ion-background-color, #ffffff);
    ion-title {
      text-transform: capitalize;
    }
  }
}
ion-content {
  .container {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0;
    .user_img {
      margin: auto;
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
    ion-card {
      margin: auto;
      padding: 0;
      width: 96%;
    }
    .current_details {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding-top: 50px;
      .section {
        display: flex;
        justify-content: flex-start;
        p {
          font-size: 1rem;
          margin: 0;
          padding: 10px 10px 0px 10px;
          --color: var(#ffffff, --ion-background-color);
        }
        h4 {
          font-size: 1rem;
          margin: 0;
          padding: 10px 0px 10px 0px;
          --color: var(#ffffff, --ion-background-color);
        }
        ion-icon {
          padding: 10px 0px 10px 10px;
          font-size: 1.3rem;
        }
        .name {
          text-transform: capitalize;
        }
      }
    }
  }
}
