// .rotateClass {
//   -webkit-animation: rotation 1s;

//   @-webkit-keyframes rotation {
//     from {
//       -webkit-transform: rotate(0deg);
//     }

//     to {
//       -webkit-transform: rotate(180deg);
//     }
//   }

//   @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
//     .centertext_icon {
//       margin-left: 52.2%;
//     }
//   }

//   .icon_img {
//     margin-left: 54.2%;
//     margin-bottom: -4px;
//   }
// }

// i {
//   border: solid #0675f4;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
// }

// .right {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
// }

// .left {
//   transform: rotate(135deg);
//   -webkit-transform: rotate(135deg);
// }

// .up {
//   transform: rotate(-135deg);
//   -webkit-transform: rotate(-135deg);
// }

// .down {
//   transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
// }

//Abinash Code
ion-header {
  ion-title {
    text-align: center;
    margin-left: -35px;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  ion-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

ion-content {
  .container {
    margin-top: 60px;
    .handlehead {
      color: var(--ion-color-button);
      background: var(--ion-background-color, #f2f2f2);
      height: 60px;
      padding: 4% 6%;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin-bottom: 7px;
    }

    .circlecss {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: white;
      font-size: 1.1rem;
      background: var(--ion-color-button);
      border-radius: 50%;
      text-transform: capitalize;
    }

    ion-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5%;
    }

    h3 {
      font-size: 0.9rem;
      text-align: center;
      font-weight: 400;
    }
    ion-label {
      margin-left: 10px;
      h2 {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
      }

      p {
        font-size: 0.9rem;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
  }
}
